/* ------------------------------------------------------------------------------------------- Body - Layout */


body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #444;
    font-weight: 400;
    background-color: #f5f5f5;
}

.background {
    background-image: url("https://img.icons8.com/android/350/f9f9f9/city-hall.png");
    background-repeat: no-repeat;
    background-position: top;
}

#page-container {
    position: relative;
    min-height: 80vh;
}

#content-wrap {
    padding-bottom: 7rem;    /* Footer height */
    margin-top: 80px;
    margin-left: 11%;
    margin-right: 11%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;     /* Footer height */
}

@media (min-width: 768px) {
    #content-wrap {
        padding-bottom: 0.4rem;    /* Footer height */
    }
}

@media (min-width: 768px) {
    #footer {
        height: 0.4rem;     /* Footer height */
    }
}

@media (min-width: 1024x) {
    #content-wrap {
        padding-bottom: 2rem;    /* Footer height */
    }
}

@media (min-width: 1024px) {
    #footer {
        height: 2rem;     /* Footer height */
    }
}


.login-form {
    align-content: center;
}

.logged-in, .welcome {
    margin-bottom: 10px;
}

.text-small {
    font-size: 10px;
}

h1 {
    font-size: 1.25em;
    padding-bottom: 5%;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

h2 {
    font-size: 1em;
    padding-bottom: 5%;

}

@media (min-width: 768px) {
    h2 {
        font-size: 2.2em;
        padding-bottom: 2%;
    }
}

h3 {
    font-size: 0.7em;
    padding-bottom: 5%;
    padding-left: 2%;
}

@media (min-width: 768px) {
    h3 {
        font-size: 1.8em;
        padding-bottom: 2%;
    }
}

.introduction-header {
    margin-top: 10px;
    margin-bottom: -12px;
    color: #d32f2f;
}

.introduction-text, .footer-text {
  font-size: 14px;
}

@media (min-width: 768px) {
    .introduction-text, .footer-text {
        font-size: 18px;
    }
}

.link-red, .fab {
    color: #d32f2f;
}

.link-red:hover, .fab:hover, .login:hover, .comment_delete:hover {
    color: #444;
    transition: 0.5s ease-in-out;
}

.fab {
    font-size: 25px;
    margin-left: 10px;
}

.white-space {
    margin-top: 40px;
}

.progress {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    position: inherit;
}

/* ------------------------------------------------------------------------------------------- index*/
.search-input-index {
    margin-right: 20px;
}

/* ------------------------------------------------------------------------------------------- butons*/
.login-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.login {
    color: white;
}

.comment_delete {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

/* ------------------------------------------------------------------------------------------- reports*/
.mouse {
    cursor: pointer;
}

.small-font {
    font-size: 12px;
}
