/* ------------------------------------------------------------------------------------------- Body - Layout */

/* Without this, bootstrap causes a horizontal scrollbar */
.container-fluid {
    width: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #FFFFFF;
}

#page-container {
    position: relative;
    min-height: 80vh;
}

#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    margin-top: 80px;
    margin-left: 11%;
    margin-right: 11%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;     /* Footer height */
}

h1 {
    font-size: 1.25em;
    padding-bottom: 5%;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

h2 {
    font-size: 1em;
    padding-bottom: 5%;
    padding-left: 2%;
}

@media (min-width: 768px) {
    h2 {
        font-size: 2.2em;
        padding-bottom: 2%;
    }
}

h3 {
    font-size: 0.7em;
    padding-bottom: 5%;
    padding-left: 2%;
}

@media (min-width: 768px) {
    h3 {
        font-size: 1.8em;
        padding-bottom: 2%;
    }
}

a:link {
    color: white;
}

a:hover {
    color: black;
}

.link-red {
    color: #d32f2f;
}

.white-space {
    margin-top: 40px;
}

.progress {
    width: 100%;
    margin-top: 10%;
    position: inherit;
}


/* ------------------------------------------------------------------------------------------- index*/
.search-input-index {
    margin-right: 20px;
}

/* ------------------------------------------------------------------------------------------- butons*/
.login-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.login {
    color: white;
}

.comment_delete {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

/* ------------------------------------------------------------------------------------------- reports*/
.tab {
    display:inline-block;
    margin-left: 20px;
}

.small-font {
    font-size: 12px;
}