<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Muncipality App</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/100df6bf4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>

</head>
<body>

    <section class="container-fluid">
        <article class="row no-gutters">
            <div class="col-12">
                {% block content %} {% endblock %}
            </div>
         </article>
    </section>

<footer class="container-fluid">
        <article class="row no-gutters">
            <div class="col-12">


            </div>
         </article>
</footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script></script>
</body>
</html>