{% extends 'base.html'%} {% block content %}

<div class="col-12 text-center">
    <h2>Edit a problem</h2>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 login-form">
            <form action="{{url_for('update_report', report_id=report._id)}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="problem"><strong>In which street you encounter a problem?</strong></label>
                    <input id="streetname" name="streetname" type="text" class="form-control" value="{{report.streetname}}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"><strong>Description of the problem:</strong></label>
                    <input id="problem" name="problem" textarea class="form-control" rows="6" value="{{report.problem}}"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"><strong>Reported by:</strong></label>
                    <input id="username" name="username" textarea class="form-control" rows="6" value="{{report.username}}"></textarea>
                </div>
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input id="date" name="date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" value="{{report.date}}"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input id="image" name="image" type="file" class="custom-file-input" id="customFile" value="{{report.image}}">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"><strong>Comment on the problem:</strong></label>
                    <input id="problem" name="add_comment" textarea class="form-control" rows="6" value="{{report.add_comment}}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}
