{% extends 'base.html'%} {% block content %}

<div class="col-12 text-center">
    <h1>Quickly report a problem in your neighbourhood</h1>
    <h2>Registration</h2>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <p>That username already exists. <br>
                <a href="{{ url_for('register') }}"><span class="link-red">Please choose another one.</span></a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}