{% extends 'base.html'%} {% block content %}

    <div class="row">
         <h1>Quickly report a problem in your neighbourhood</h1>
    </div>
    <div class="row">
        <h2>1. Look for reported problems</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form action="{{ url_for('search') }}">
                    <div class="form-group">
                        <input type="text" name="query" class= "search-input-index" placeholder=" Enter Street Name"/>
                    </div>
                        <input type="submit" class="btn btn-danger search-button-index" value="Search"/>
                </form>
            </div>
        </div>
    </div>

        <div class="progress">
        <div class="progress-bar bg-danger" style="width:10%" >10%</div>
        </div>

{% endblock %}
