{% extends 'base.html'%} {% block content %}

    <div class="col-12 text-center">
        <h1>Quickly report a problem in your neighbourhood</h1>
        <h2>3. Login to report a new problem.</h2>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 login-form">
                <form action="{{url_for('login')}}" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input id="name" name="username" type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
                <br>
                Don't have an account? <br><a href="{{ url_for('register')}}"><span class="link-red">Register here!</span></a>
            </div>
        </div>
    </div>

    <div class="progress">
        <div class="progress-bar bg-danger" style="width:60%">60%</div>
    </div>

{% endblock %}