{% extends 'base.html'%} {% block content %}

    <h1>Reported Problems</h1>

    <div class="row">
        <div class="col-sm-6 login-button">
            <button class="btn btn-danger"><a href="{{ url_for('add_report') }}" class="login"> Report a problem</a></button>
        </div>
    </div>

    <div id="accordion">
        <div class="card">
            {% for report in reports %}
                <div class="card-header">
                    {% if session['username'] == 'admin' %}
                        <button class="btn btn-danger"><a href="{{url_for('edit_report', report_id=report._id)}}" class="comment_delete">Comment</a></button>
                        <button class="btn btn-danger"><a href="{{url_for('delete_report', report_id=report._id)}}" class="comment_delete">Delete</a></button>
                    {% else %}
                    {% endif %}
                <p class="card-link mouse" data-toggle="collapse" href="#{{report.username}}" aria-expanded="false" role="button"><i class="fas fa-angle-down"></i>
                    <strong>{{report.streetname}}</strong><br>
                    {{report.problem}}<br>
                    <span class="small-font">{{report.date}} | Reported by: {{report.username}}</span>
                </p>
                </div>
                <div id="{{report.username}}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <strong>Response municipality:</strong><br>
                        {{report.add_comment}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="progress">
        <div class="progress-bar bg-danger" style="width:100%" >100%</div>
    </div>
{% endblock %}