{% extends 'base.html'%} {% block content %}

<h3>Reported Problems</h3>

<div id="accordion">

    <div class="card">
    {% for report in reports %}

        <div class="card-header">

                <a class="card-link" data-toggle="collapse" href="#collapseOne"><i class="fas fa-angle-down"></i>

                    {{report.streetname}} | {{report.date}}
                </a>
        </div>

        <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
            {{report.problem}}<br>
            {{report.image}}
            {{report.is_fixed}}
            </div>

        </div>

    {% endfor %}
    </div>

</div>

{% endblock %}